.current {
    color: white;
    text-decoration: none;
    font-weight: bold
  }
.not-current {
  color: lightgray;
  text-decoration: none;
}

nav {
  background-color: darkgreen;
  padding: 15px;
  align-content: center;
}

html {
  font-family: Arial;
}

body {
  margin: 25px;
}
